Pipeline_2.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"dldevabhi abhi-fabric":{"type":"string"},"ECommerce_LakeHouse":{"type":"string"}},"variables":{},"resources":[{"name":"ECommerce-Main-Pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get Metadata","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"ECommerce_Project","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('dldevabhi abhi-fabric')]"}},"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEach","type":"ForEach","dependsOn":[{"activity":"Get Metadata","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get Metadata').output.childItems","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy data","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"ECommerce_Project","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('dldevabhi abhi-fabric')]"}}},"sink":{"type":"ParquetSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings","enableVertiParquet":true},"datasetSettings":{"annotations":[],"linkedService":{"name":"ECommerce_LakeHouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"0335069d-0ea0-441c-a969-b7ac5e1f8ec0","artifactId":"[parameters('ECommerce_LakeHouse')]","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"bronze"},"compressionCodec":"snappy"},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"d0ab4680-991c-4699-9aec-363eac1c77df","lastPublishTime":"2026-04-26T18:40:07Z"},"dependsOn":[]}]}