Pipeline_1.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"dldevabhi abhi-fabric":{"type":"string"},"warehouse":{"type":"string"},"Lakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"Pipeline_1","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get Metadata_1","type":"GetMetadata","dependsOn":[{"activity":"Script_SCD1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"SCD-Type1","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('dldevabhi abhi-fabric')]"}},"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Get Metadata_1","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get Metadata_1').output.childItems","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"SCD-Type1","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('dldevabhi abhi-fabric')]"}}},"sink":{"type":"DataWarehouseSink","allowCopyCommand":true,"copyCommandSettings":{},"writeBehavior":"Insert","disableMetricsCollection":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"stg_customer"}}},"enableStaging":false}},{"name":"Set variable1","type":"SetVariable","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"file_date","value":{"value":"@formatDateTime(substring(item().name, 9, 10), 'yyyy-MM-dd')","type":"Expression"}}},{"name":"Script1","type":"Script","dependsOn":[{"activity":"Set variable1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"UPDATE dbo.stg_customer\nSET file_date = '@{variables('file_date')}'\nwhere file_date is null;","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}}]}},{"name":"Stored procedure1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"storedProcedureName":"[[dbo].[sp_upsert_dim_customer_scd1]"},"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}}},{"name":"Script_SCD1","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"truncate table dbo.stg_customer","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"Script_SCD2","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"truncate table dbo.stg_customer_scd2","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"Get Metadata_2","type":"GetMetadata","dependsOn":[{"activity":"Script_SCD2","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"SCD-Type2","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('dldevabhi abhi-fabric')]"}},"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEach2","type":"ForEach","dependsOn":[{"activity":"Get Metadata_2","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get Metadata_2').output.childItems","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy data2","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"SCD-Type2","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('dldevabhi abhi-fabric')]"}}},"sink":{"type":"DataWarehouseSink","allowCopyCommand":true,"copyCommandSettings":{},"writeBehavior":"Insert","disableMetricsCollection":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"stg_customer_scd2"}}},"enableStaging":false}}]}},{"name":"Stored procedure2","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"ForEach2","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"storedProcedureName":"[[dbo].[sp_upsert_customer_scd2]"},"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}}},{"name":"Script_IncLoad","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"truncate table dbo.stg_customer_scd2","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"Get Metadata_3","type":"GetMetadata","dependsOn":[{"activity":"Script_IncLoad","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"transactions-IncLoad","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('dldevabhi abhi-fabric')]"}},"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEach3","type":"ForEach","dependsOn":[{"activity":"Get Metadata_3","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get Metadata_3').output.childItems","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy data3","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"transactions-IncLoad","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('dldevabhi abhi-fabric')]"}}},"sink":{"type":"DataWarehouseSink","allowCopyCommand":true,"copyCommandSettings":{},"writeBehavior":"Insert","disableMetricsCollection":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"staging_transactions_stage"}}},"enableStaging":false}}]}},{"name":"Stored procedure3","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"ForEach3","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"storedProcedureName":"[[dbo].[sp_upsert_transactions]"},"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}}},{"name":"Get Metadata_4","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"Organization_migration","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('dldevabhi abhi-fabric')]"}},"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"Lookup_Migrations","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DataWarehouseSource","sqlReaderQuery":"select FileName from FileTracker","queryTimeout":"02:00:00","partitionOption":"None"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"FileTracker"}}}},{"name":"Filter1","type":"Filter","dependsOn":[{"activity":"Get Metadata_4","dependencyConditions":["Succeeded"]},{"activity":"Lookup_Migrations","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get Metadata_4').output.childItems","type":"Expression"},"condition":{"value":"@not(\n  contains(\n    string(coalesce(activity('Lookup_Migrations').output.value, '')),\n    item().name\n  )\n)","type":"Expression"}}},{"name":"ForEach4","type":"ForEach","dependsOn":[{"activity":"Filter1","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Filter1').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"adls_to_lakehouse","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"Organization_migration","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('dldevabhi abhi-fabric')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","fileExtension":".txt"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd","artifactId":"[parameters('Lakehouse')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"migration"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"adls_to_dwh","type":"Copy","dependsOn":[{"activity":"adls_to_lakehouse","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"Organization_migration","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('dldevabhi abhi-fabric')]"}}},"sink":{"type":"DataWarehouseSink","allowCopyCommand":true,"copyCommandSettings":{},"writeBehavior":"Insert","datasetSettings":{"annotations":[],"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"DimProduct"}}},"enableStaging":false}},{"name":"Script2","type":"Script","dependsOn":[{"activity":"adls_to_dwh","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"lqkag5xq4gvunnlbkji4szaox4-djavz3zd5oeu5cd3hbo6kcdb3u.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('warehouse')]","workspaceId":"ef5c411a-eb23-4e89-887b-385de50861dd"}}},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"INSERT INTO FileTracker (FileName, LoadDate)\nVALUES ('@{item().name}', GETUTCDATE());","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}}]}}],"variables":{"file_date":{"type":"String"}},"lastModifiedByObjectId":"d0ab4680-991c-4699-9aec-363eac1c77df","lastPublishTime":"2026-04-30T18:42:25Z"},"dependsOn":[]}]}